.Filter{
	background: #FAF7F5;
	padding: 2rem;
	h3{
		text-transform: uppercase;
	}
	select{
		background: transparent;
		padding: .5rem;
		font-size: 1rem;
		font-weight: 300;
		color: #1b1b1b;
		display: block;
	}	
	//filters
	.filters{
		color: #ADA8AA;
	}
	.filters > span{
		font-size: 1rem;
		display: block;
	}
	input[type='text']{
		width: 100%;
		display: inline-block;
		border-radius: 5px;
		font-size: 1rem;
	}
	.filters{
		&.extras{
			label{
				display: block;
				width: 100%;
				padding: 10px 0;
			}
		}
		//checkboxes
		input[type='checkbox']{
			float: right;
		}
	}
}