.Deck{
	display: flex;
	flex-wrap: nowrap;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	height: 80vh;
	padding-top: 30px;
}
.Deck a {
	text-decoration: none;
}
.Deck-nav{
	height: auto;
	box-shadow: 2px 2px 5px -2px seashell;
}

ul.Deck-nav {
	display: none;
}
/* LISTA ON SUBMIT */

/* ON LOAD  */
.listado {
	display: inline;
	width: 50%;
	list-style: none;
	color: white;
	font-weight: 600;
	transition: .8s;
}
.listado li{
	padding: 5px 10px;
	transition: .8s;
}

.listado li a{
	padding: 5px;
	color: #0E2343;
	background-color: lightblue;
	border: 1px solid white;
	margin: 2px;
	opacity: 0.8;
	font-size: 20px;
	transition: .8s;
	display: block;
}