.ListadoNav{
	padding: 30px;
	background: #0E2343;
	border: none;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 15px;
	height: auto;
	box-shadow: 2px 2px 5px -2px seashell;
	transition: 1.5s;
}
/* LOGO IMAGE ON NAV	 */
nav img{
	height: 7vh;
	border-radius: 40px;
	transform: scale(.9);
	transition: .1s;
}
nav img:hover{
	box-shadow: 0 0 0 0 none;
	transform: scale(1);
}

/* ENUNCIADO LISTA FILTRADA */

.EnunciadoLista{
	font-size: 20px;
	color: black;
	font-weight: 600;
}

/* LISTA FILTRADA */

.ListadoNavSearch{
	color: white;
	padding: 0 20px;
}

.ListadoNavSearch input{
	margin: 0 30px;
}

/* COLUMNAS DE LA BASE DE DATOS */
.listaClientesHead{
	display: flex;
	justify-content: space-around;
	list-style: none;
	background-color: rgba(243, 231, 231, 0.694);
	border: 1px solid grey;
	margin: 0 20px;
	padding: 25px;
}

.listaClientesDB{
	margin: 0 20px;
	padding: 0px;
	border: 1px solid grey;
	background-color: rgba(243, 231, 231, 0.694);
}
.listaClientesDB li{
	display: flex;
	justify-content: space-around;
	color: black;
	padding: 2px;
	border-bottom: .5px solid grey;
}
a{
	text-decoration: none;
	color: black;
}
