.Units {
	margin: 15px;
	padding: 9px;
	/* width: 42%; */
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #D3D4D6;
	font-size: 20px;
	border-style: none;
	border-radius: 0px 20px 0px 20px;
	background-color: #0E2343;
	transition: 0.3s;
}

.Units:hover{
	border-radius: 20px 0px 20px 0px;
	transition: 0.3s;
	cursor: pointer;
	box-shadow: 0 0 0 50px white inset;
	color: #0E2343;
	font-weight: 600;
	transform: scale(1.1);
}

/* On click */
.Units:active{
	border-radius: 0px 0px 0px 0px;
	transition: 0.3s;
}