/* MAIN CONTAINER */
.UnitsDashboard{
	width: 100%;
	height: auto;
	max-width: 100%;
	display: flex;
	flex-direction: row;
}
/* SECTION 1 , LEFT SIDE OF VIEW >> NAVA BAR  */
/* NAV BAR */
.UnitsNav{
	width: 20%;
	height: auto;
	padding: 20px;
	display: block;
	flex-direction: column;
}
/* TITLE FOR NAVBAR */
.UnitsNav h2{

}
/* UL WITHIN NAVBAR */
.UnitsNav ul{
	list-style: none;
}
/* LI */
.UnitsNav ul li{
	padding: 20px;
}

.UnitsNav ul li a{
	text-decoration: none;
}

/* SECTION 2 , MAIN CONTAINER >> RIGHT SIDE OF VIEW */
.UnitsMain{
	width: 80%;
	padding: 20px;
}
