.Navbar{
	display: grid;
	grid-template-columns: repeat(3 ,1fr);
	padding: 1rem;
	align-items: center;
	box-shadow: 0 2px 3px #F15025;
	a{
		text-decoration: none;
		color: #F15025;
		font-size: 1.5rem;
		transition: all .1s ease-in-out;
		&:hover{
			text-shadow: 2px 2px 3px lightcyan;
			font-weight: 600;
		}
	}
}
