//colors var
$myBlack: #222;
$myGreen: #82b340;
$myWhite: #fff;
$myGrey: #ecec;

//
*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Open Sans", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $myWhite;
  color: $myBlack;
}
