.ListingItem{
  -webkit-box-shadow: 8px 11px 3px -3px rgba(102,96,102,0.61);
  -moz-box-shadow: 8px 11px 3px -3px rgba(102,96,102,0.61);
  box-shadow: 8px 11px 3px -3px rgba(102,96,102,0.61);
  border-radius: 5px;
  padding: 1rem;
  //image
  .ImgCapture{
    img{

    }
    //section
    .details{
      //Section 1 
      .UserImg{

      }
      //Section 2
      .UserImgDescription{

      }
      //Section 3
      .features{

      }
    }
  }
}
