/* 
DEFAULTS FOR 
	BANNER WITHIN HERO 
*/
.Banner{
	display: inline-block;
	background: rgba(0, 0, 0, .4);
	border: 1px solid lightcyan;
	box-shadow: 2px 2px 5px darkgray;
	border-radius: 15px;
	font-size: 2.5rem;
	color: white;
	text-align: center;
	text-transform: capitalize;
	padding: 1rem;

	.Banner div{
		width: 10rem;
		height: 5px;
		background: rgb(183, 171, 153);
		margin: 1.7rem auto;
	}
	.Banner p{
		font-size: 1.2rem;
		margin-bottom: 2rem;
	}
}
