.FeaturedRooms{
	.FeatureRooms-displayed{
		display: grid;
		grid-template-columns: repeat(3 ,1fr);
		justify-items: center;
			article{
				width:300px;
				img{
					width: 300px;
					display: block;
					max-width: 100%;
				}
			}
	}
}
